:root {
    --background: #D5D0E0 
    --backgound-card: #f5eee0 
    --text-color-maroon: #705A66;
    --text-color-black: #252525;
    --radio-buttons-black: #161616;
}

@font-face {
    font-family: 'Montreal'; 
    src: url(Montserrat-Italic-VariableFont_wght.ttf) format(ttf);
    font-weight: normal;
    font-style: normal;   
}

.container {
    width: 500px;
    height: 373px;
    margin-right: 100px;
    margin-left: 841px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.h2 {
  font-size: 24px;
  color: #705a66;
    font-weight: 200;
}

*:not(h1) {
    font-family: "Montserrat", sans-serif;
}

// section 1

.section-1-text {
    font-size: 14px;
    color: #252525;
}

.h1 {
    font-size: 100px;
}

.contact-card {
    background-color: #f5eee0;
    width: 500px;
    height: 60px;
    // font-size: ;
}

// section 2

