<main>
    <section>
        <p></p>
        <h1></h1>
    </section>
    <section>
        <h2></h2>
        <input type="text"><input type="text"><input type="text"><input type="text">
        <img src="" alt="">
        <div>
            <h2></h2>
            <h3></h3>
            <p></p>
            <img src="" alt="">
        </div>
    </section>
    <section>
        <h2></h2>
        <details>
            <summary></summary>
            <input type="text">
            <input type="text">
            <input type="text"><input type="text"><input type="text"><input type="text"><input type="text"><input
                type="text">
        </details>
    </section>
    <section>
        <h2></h2>
        <input type="text"><input type="text">
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </section>
    <section>
        <h2></h2>
        <p></p>
        <button></button>
    </section>
</main>